* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 2px solid pink;
}

canvas {
  background-color: #eee;
}
